.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.alert {
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
}